body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
}

#videoPlayerContainer {
    margin-bottom: 20px;
    position: relative;
}

#videoPlayer {
    min-height: 400px;
    max-width: 100%;
    max-height: 300px;
    border-radius: 5%;
}

#navigationButtons {
    margin-top: 10px;
}

.videoListItem {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.videoListItem:hover {
    background-color: #f0f0f0;
}

.videoName {
    font-weight: bold;
    color: #ff5722; /* Orange color for video name */
}

#randomVideoButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff; /* Blue color for button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#randomVideoButton:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}
button{margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff; /* Blue color for button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
Button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}